@model IEnumerable<PIDDS.Models.IndexModel>
@{
    ViewBag.Title = "Index";
}

<h2>This is the Index</h2>
<table>
    <threa>
        <tr>
            <td>ID</td>
            <td>Description</td>
            <td>Comments</td>
        </tr>
    </threa>
    @foreach (PIDDS.Models.IndexModel item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Description</td>
            <td>@item.Comments</td>
        </tr>
    }
</table>

